<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>fbv와 cbv 알아보기</h2>
    <br><hr>

    <form action="GET">
        Get요청 <input type="text" name="var">
        <input type="submit" value="제출">
    </form>
    <br>
    <form action="POST"> {% csrf_token %}
        POST 요청 <input type="text" name="var1">
        <input type="submit" value="제출">
    </form>
</body>
</html>